.d-flex.justify-content-center.align-items-center{style: "height: calc(100vh - 80px)"}
  %div
    %div
    = link_to "Admin Portal", new_admin_session_path, class: "btn btn-dark w-100 p-3 px-5 mb-4"
    %div
    = link_to "User Portal", new_user_session_path, class: "btn btn-light w-100 p-3 px-5"
